header {
	margin: 0;
	padding: 0;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCC;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header img {
	display: inline-block;
	margin-left: 20px;
	vertical-align: center;
}

.available {
	background-color: #ff545f
}
